.home-container{
    background-image: url(/public/img/theater.jpeg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center center; 
    color: #fff;
    font-family: Arial, sans-serif; 
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

.background img{
    width: 100vw;
    height: 100vh;
}

.main-logo {
    margin-right: 20px;
}

.main-logo img {
    max-width: 200px;
    margin-bottom: 100px;
}

.content {
    text-align: center;
    margin: auto;
}

.content h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px; 
}

.content h2 {
    font-size: 20px;
    color: #999;
    margin-bottom: 130px;
}

.go-login {
    text-align: center;
    margin-top: 20px;
}

.go-login button#login-button {
    background-color: #222fdeb4;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}