.joinBody {
  background-color: #212020;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /*배경 설정*/
}

.mainLogo {
    position: absolute;
    top: 40px;
    left: 60px;
}

.signupContainer {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signupContainer h1{
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
  color: white;
  letter-spacing: 2px;
}

.signupContainer p{
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
  color: #464545;
  letter-spacing: 2px;
}

.inputField{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  height: 30px;
  margin-top: 15px;
  background-color: #464545;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  border: none;  
}

.phoneContainer {
  display: flex;
  align-items: center;
}

.phoneField1 {
  flex: 1;
  margin-top: 15px;
  padding: 10px;
  margin-right: 10px;
  background-color: #464545;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  color: #fff;
}

.phoneField2 {
  flex: 2;
  padding: 10px;
  background-color: #464545;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 30px;
  margin-top: 15px;
  margin-right: 9px;
}

.genderField {
  padding: 10px;
  background-color: #464545;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 500px;
  color: #fff;
  margin-top: 15px;
  margin-right: 10px;
}

.birthdateContainer {
  display: flex;
  align-items: center;
}

.birthdateField1 {
  flex: 1;
  margin-top: 15px;
  padding: 10px;
  margin-right: 10px;
  background-color: #464545;
  border: none;
  border-radius: 5px;
  width: 160px;
  height: 50px;
  color: #fff;
  margin-top: 15px;
}

.birthdateField2 {
  flex: 1;
  margin-top: 15px;
  padding: 10px;
  margin-right: 10px;
  background-color: #464545;
  border: none;
  border-radius: 5px;
  width: 160px;
  height: 50px;
  color: #fff;
}

.birthdateField3 {
  flex: 1;
  margin-top: 15px;
  padding: 10px;
  margin-right: 10px;
  background-color: #464545;
  border: none;
  border-radius: 5px;
  width: 160px;
  height: 50px;
  color: #fff;
}

.buttonJoin {
  
  background-color: #222fde;
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-right: 10px;
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: white;
}

/*스크롤바 커스텀*/
.birthdateField1::-webkit-scrollbar {
  width: 8px;  /*스크롤바 너비 */
}

.birthdateField1::-webkit-scrollbar-thumb {
  height: 30%; /*스크롤바 길이 */
  background: #333333; /*스크롤바 색상*/
  border-radius: 10px;
}

.birthdateField1::-webkit-scrollbar-track {
  background: #464545;  /*스크롤바 뒷 배경 색상*/
}

.birthdateField3::-webkit-scrollbar {
  width: 8px;  /*스크롤바 너비 */
}

.birthdateField3::-webkit-scrollbar-thumb {
  height: 30%; /*스크롤바 길이 */
  background: #333333; /*스크롤바 색상*/
  border-radius: 10px;
}

.birthdateField3::-webkit-scrollbar-track {
  background: #464545;  /*스크롤바 뒷 배경 색상*/
}