body {
    background-color: #212020;
    color: #ffffff; 
    font-family: Arial, sans-serif;
    padding: 20px;
}

.main-logo {
    margin-right: 20px;
}

.main-logo img {
    width: 200px;
    margin-bottom: 100px;
}

.signup-container {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.signup-container h1 {
    font-size: 30px; 
    font-weight: bold; 
    margin-top: 0; 
}

.signup-container p{
    font-size: 15px; 
    margin-top: 0; 
    margin-right: 999px;
    color: #b1adad; 
}

.input-field{
    width: 400px;
    padding: 15px;
    margin: 10px 0;
    background-color: #464545;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

.phone-container select{
    padding: 15px;
    margin: 10px 0;
    background-color: #464545; 
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

.phone-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between; 
    width:110%;
}
#phone-prefix {
    width: 25%;
    padding: 15px;
    background-color: #464545;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.phone-field {
    width: 80px;
    margin-right: 10px;
}

#phone-number {
    width: 75%;
    padding: 15px;
    background-color: #464545;
    border: none;
    border-radius: 5px;
    color: #fff;
}

#gender{
    width: 110%;
}

.birthdate-container {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-top: 10px; 
    width: 113%;
   
}

.birthdate-field {
    width: 33.33%; 
    margin-right: 10px; 
}

button#signup-button {
    width: 111%;
    background-color: #222fdeb4; 
    color: #ffffff; 
    font-size: 18px; 
    padding: 15px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    margin-top: 30px; 
}

select option[value=""][disabled]{
    display: none;
}