.movieInformationBody {
    background-color: #212020;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto; /*배경 설정*/
    overflow-y: scroll;
}

.mainLogo {
    position: absolute;
    top: 40px;
    left: 60px;
}

.searchMovie {
    position: absolute;
    top: 65px;
    right: 120px;
    display: flex;
}

.searchMovie button {
    background-color: transparent;
    border: none;
}

.buttonLogout {
    position: absolute;
    top: 13px;
    right: 120px;
    display: flex;
}

.buttonLogout button {
    border: none;
    background-color: transparent;
    font-size: 13px;
    color: #b1adad; 
    font-weight: bold;
}

.movieInformationBottom{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
}

.poster{
    float: left;
    margin-right: 20px;
    margin-top: 30px;
}

.poster img{
    width: 210px;
    height: 300px;
}

.information{
    overflow: hidden;
    padding-top: 10px;
}

.information h1{
    display: inline-block;
    color: #ffffff;
}

.heart{
    display: inline-block;
    float: right;
}

.heart input {
    margin-top: 33px;
    width: 1.5rem; 
    height: 1.5rem; 
    border-radius: 5px; 
    border: 1px solid #999;
    appearance: none;
    cursor: pointer;
    transition: background 0.2s;
}

.heart input:checked {
    background: #222fdeb4;
    border: none;
}

.component{
    overflow: hidden;
    width: 710px;
}

.component h3{
    display: inline-block;
    line-height: 0.6;
    color: #b1adad;
    margin-right: 10px;
}

.component p{
    display: inline-block;
    line-height: 0.9;
    color: #ffffff;
    margin-right: 10px;
}

.component button{
    background-color: #464545;
    color: #ffffff;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius:15px;
    margin-right: 10px;
}

.summary{
    width: 950px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.7;
}

.summary h3{
    color: #b1adad;
}

.summary p{
    color: #ffffff;
}

.trailer{
    width: 950px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.trailer h3{
    color: #b1adad;
}

.trailer embed{
    width: 100%;
    height: 500px;
}

.reviewWrite{
    width: 950px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.reviewWrite h3{
    color: #b1adad;
} 

.reviewWrite textarea{
    width: 930px;
    height: 100px;
    background-color: #464545; 
    border: none;
    border-radius: 5px;
    color: #ffffff;
    overflow-y: scroll;
    padding: 10px;
}

.reviewWrite button{
    float: right;
    height: 30px;
    width: 50px;
    background-color: #222fdeb4; 
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

.starpointWrap{
    display:inline-block;
    margin-bottom: 20px;
}

.starpointBox select {
    background-color: #212020;
    font-size: 15px;
    color: #b1adad;
    border: none;
}

.reviewCollection{
    width: 950px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.reviewCollection h3{
    color: #b1adad;
    margin-bottom: 20px;
}

.reviewCollection .space{
    overflow-y: scroll;
    height: 200px;
    width: 960px;
    background-color: #212020; 
    border: none;
    border-radius: 5px;
}

.reviewCollection .aReview{
    width: 950px;
    background-color: #464545;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    resize: vertical;
}

.aReview p{
    padding: 10px;
    resize: vertical;
}

.firstreview {
    color: #464545;
    text-align: center;
}

.reviewWrite textarea::-webkit-scrollbar {
    width: 8px; 
}

.reviewWrite textarea::-webkit-scrollbar-thumb {
    background-color: #b1adad;
    border-radius: 5px;
}

.reviewWrite textarea::-webkit-scrollbar-track {
    background-color: #464545;
}

.reviewCollection .space::-webkit-scrollbar {
    width: 8px; 
}

.reviewCollection .space::-webkit-scrollbar-thumb {
    background-color: #b1adad; 
    border-radius: 5px;
}

.reviewCollection .space::-webkit-scrollbar-track {
    background-color: #212020;
}

.movieInformationBody::-webkit-scrollbar {
	width: 10px;  /*스크롤바 너비 */
    height: 10px;
}

/* 스크롤바 막대 꾸미기 */
.movieInformationBody::-webkit-scrollbar-thumb {
	height: 30%; /*스크롤바 길이 */
  background: #b1adad; /*스크롤바 색상*/
  border-radius: 10px;
}

/* 스크롤바 트랙 꾸미기 */
.movieInformationBody::-webkit-scrollbar-track {
	background: #212020;
}

.movieInformationBody::-webkit-scrollbar-corner {
	background: #212020;
}

