.myPageBody {
    background-color: #212020;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto; /*배경 설정*/
    overflow-y: scroll;
}

.mainLogo {
    position: absolute;
    top: 40px;
    left: 60px;
}

.searchMovie {
    position: absolute;
    top: 65px;
    right: 120px;
    display: flex;
}

.searchMovie button {
    background-color: transparent;
    border: none;
}

.buttonLogout {
    position: absolute;
    top: 13px;
    right: 120px;
    display: flex;
}

.buttonLogout button {
    border: none;
    background-color: transparent;
    font-size: 13px;
    color: #b1adad; 
    font-weight: bold;
}

.myPageBottom{
    position: absolute;
    top:15%;
    left: 50%;
    transform: translatex(-50%);
}

.myPageBottom table {
    margin:0 auto;
    border-collapse: collapse;
    width: 500px;
    height: 300px;
    justify-content: center;
    margin-top: 55px;
}

.imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    position:relative;
    z-index: 1;
}

.myname h2{
    color: #ffffff;
    font-size: 40px;
}


.myPageBottom h2{
    color: #ffffff;
    
}

.label p{
    display: inline-block;
    width: 150px;
    background-color: #464545;
    padding: 5px; 
    border-radius: 5px;
    margin-right: 20px;
    text-align: center;
    color:#b1adad;
    font-weight: 600;
}

.value1 p{
    width: 250px;
    color: #ffffff;
}

.mbtiset{
    color: #464545;
}

.value5 p{
    color: #ffffff;
}

.value5 button{
    background-color: #464545;
    color: #ffffff;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border: none;
    border-radius:15px;
    margin-right: 10px;
}
/*완료*/

.editButtonContainer button{
    float: right;
    width: 75px;
    padding: 5px;
    margin-top: 10px;
    background-color: #222fdeb4; 
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
}

.movielike {
    color: #464545;
 text-align: center;
 font-size: 25px;
}

.myPageBody h2{
    color: #ffffff;
}

.myReview{
    width: 875px;
    padding-top: 10px;
    padding-bottom: 50px;
    color: #ffffff;
    background-color: #212020;
    
}

.reviewSpace{
    width: 860px;
    height: 500px;
    padding-left:10px;
    overflow-y: scroll;
    border: none;
    
}

.reviewSpace::-webkit-scrollbar {
    width: 8px; 
}

.reviewSpace::-webkit-scrollbar-thumb {
    background-color: #b1adad; 
    border-radius: 5px;
}

.reviewSpace::-webkit-scrollbar-track {
    background-color: #212020;
}


.review{
    
    margin-bottom: 100px;
    width: 850px;
    border-radius: 5px;
    background-color: #4e4d4d;
    border: none;
    margin-bottom: 30px;
    
}

.review p{
    resize: vertical;
    padding: 10px;
}

.review button{
    float: right;
    background-color: #222fdeb4;
    border-radius: 5px;
    border: none;
    font-size:15px;
    color: #ffffff;
    height:30px;
    width:50px;
    margin-right: 10px;
    margin-top: 5px;
    
}

.savedMovie{
    padding-left: 10px;
    white-space: nowrap;
    width: 860px;
    height: 380px;
    overflow-x: scroll;
    margin-bottom: 50px;
}

.savedMovie::-webkit-scrollbar {
    height: 8px; 
}

.savedMovie::-webkit-scrollbar-thumb {
    background-color: #b1adad; 
    border-radius: 5px;
}

.savedMovie::-webkit-scrollbar-track {
    background-color: #212020;
}


.movieComponent {
    display: inline-block;
    text-align: center;
    padding-right: 20px;
}


.moviePoster{
    width: 200px;
    height: 300px;
}

.movieTitle {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #4e4d4d;
    font-size: 15px;
}

.myPageBody::-webkit-scrollbar {
	width: 10px;  /*스크롤바 너비 */
    height: 10px;
}

/* 스크롤바 막대 꾸미기 */
.myPageBody::-webkit-scrollbar-thumb {
	height: 30%; /*스크롤바 길이 */
  background: #b1adad; /*스크롤바 색상*/
  border-radius: 10px;
}

/* 스크롤바 트랙 꾸미기 */
.myPageBody::-webkit-scrollbar-track {
	background: #212020;
}

.myPageBody::-webkit-scrollbar-corner {
	background: #212020;
}
