.myPageEditBody {
    background-color: #212020;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto; /*배경 설정*/
    overflow-y: scroll;
}

.mainLogo {
    position: absolute;
    top: 40px;
    left: 60px;
}

.searchMovie {
    position: absolute;
    top: 65px;
    right: 120px;
    display: flex;
}

.searchMovie button {
    background-color: transparent;
    border: none;
}

.buttonLogout {
    position: absolute;
    top: 13px;
    right: 120px;
    display: flex;
}

.buttonLogout button {
    border: none;
    background-color: transparent;
    font-size: 13px;
    color: #b1adad; 
    font-weight: bold;
}

.myPageEditBottom{
    position: absolute;
    top:15%;
    left: 50%;
    transform: translatex(-50%);
}

.myPageEditBottom table {
    margin:0 auto;
    border-collapse: collapse;
    width: 250px;
    height: 300px;
    justify-content: center;
    margin-top: 55px;
}

.imgContainer img{
    width: 80px;
    margin: 5px;
    border-radius: 10px;
}

.imgSelect select{
    width: 80px;
    text-align: center;
    background-color: #464545;
    color: #ffffff;
}

.myPageEditBottom h2{
    color: #ffffff;
    font-size: 40px;
}

.label1 p{
    display: inline-block;
    width: 150px;
    background-color: #464545;
    padding: 5px; 
    border-radius: 5px;
    margin-right: 20px;
    text-align: center;
    color:#b1adad;
    font-weight: 600;
}

.value1 input{
    width: 250px;
    height: 12px;
    padding: 10px;
    background-color: #464545;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: #ffffff;
}

.value2 p{
    font-size: 18px;
    color: #ffffff;
}

.value3 select {
    background-color: #464545;
    width: 270px;
    height: 33px;
    padding: 10px;
    background-color: #464545;
    border-radius: 5px;
    border: none;
    color: #ffffff;
}

.label4 p{
    position: absolute;
    top: 490px;
    display: inline-block;
    width: 150px;
    background-color: #464545;
    padding: 5px; 
    border-radius: 5px;
    margin-right: 20px;
    text-align: center;
    color:#b1adad;
    font-weight: 600;
}


.value4 {
    color: #ffffff; 
}

.value4 input {
    margin-top: 10px;
    width: 20px; /* 원하는 크기로 조절 */
    height: 20px;
    margin-right: 15px;
    border-radius: 5px; /* 모서리 둥글게 만들기 */
    border: 2px solid #b1adad; /* 테두리 스타일 지정 */
    appearance: none;
    cursor: pointer;
    transition: background 0.2s;
}


.value4 input:checked {
    background: #222fdeb4; /* 체크된 상태의 배경색 */
    border: none; /* 테두리 없애기 */
}

.submitButtonContainer button{
    float: right;
    width: 75px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 50px;
    background-color: #222fdeb4; 
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
}

.myPageBody h2{
    color: #ffffff;
}

.myPageEditBody::-webkit-scrollbar {
	width: 10px;  /*스크롤바 너비 */
    height: 10px;
}

/* 스크롤바 막대 꾸미기 */
.myPageEditBody::-webkit-scrollbar-thumb {
	height: 30%; /*스크롤바 길이 */
    background: #b1adad; /*스크롤바 색상*/
    border-radius: 10px;
}

/* 스크롤바 트랙 꾸미기 */
.myPageEditBody::-webkit-scrollbar-track {
	background: #212020;
}

.myPageEditBody::-webkit-scrollbar-corner {
	background: #212020;
}
