.userPageBody {
    background-color: #212020;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto; /*배경 설정*/
}
  
hr {
    border: none;
    border-top: 1px solid #4e4d4d; 
    margin-top: 35px;
}

.mainLogo {
    position: absolute;
    top: 40px;
    left: 60px;
}

.searchMovie {
    position: absolute;
    top: 65px;
    right: 120px;
    display: flex;
}

.searchMovie button {
    background-color: transparent;
    border: none;
}

.buttonLogout {
    position: absolute;
    top: 13px;
    right: 120px;
    display: flex;
}

.buttonLogout button {
    border: none;
    background-color: transparent;
    font-size: 13px;
    color: #b1adad; 
    font-weight: bold;
}

.userPageBottom{
    position: absolute;
    top:15%;
    left: 50%;
    transform: translatex(-50%);
}

.userPageBottom table {
    margin:0 auto;
    border-collapse: collapse;
    width: 300px;
    height: 300px;
    justify-content: center;
    margin-top: 55px;
}

.imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    position:relative;
    z-index: 1;
}

.userPageBottom h2{
    color: #ffffff;
}

.label p{
    display: inline-block;
    width: 150px;
    background-color: #464545;
    padding: 5px; 
    border-radius: 5px;
    margin-right: 20px;
    text-align: center;
    color:#ffffff;
    font-weight: 600;
}

.value p{
    width: 150px;
    text-align: center;
    color: #ffffff;
}

.subscribeButtonContainer button{
    height: 29px;
    width: 150px;
    background-color: #222fdeb4; 
    border: none;
    border-radius: 5px;
    color: #ffffff;
    left:45%;
    position:fixed;
}

.userPageBody h2{
    color: #ffffff;
}

.userReview{
    width: 900px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.reviewSpace{
    height: 400px;
    padding-left:10px;
    overflow-y: scroll;
    border: none;
}

.review{
    border: none;
    margin-bottom: 100px;
    width: 850px;
    height: 150px;
    background-color: #ffffff;
    border: none;
    margin-bottom: 30px;
}

/*

.subscribe{
    height: 29px;
    width: 80px;
    background-color: #222fdeb4; 
    border: none;
    border-radius: 5px;
    color: #ffffff;
    left:45%;
    position:fixed;
}

table {
    margin:0 auto;
    border-collapse: collapse;
    width: 200px;
    height: 300px;
    justify-content: center;
    margin-top: 55px;
}

.userpage-bottom{
    position: absolute;
    top:20%;
    left: 50%;
    transform: translatex(-50%);
}

.profile_img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: cover;
    transform: translateX(20%);
}

.my_review{
    width: 900px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.my_review .review_space{
  height: 300px;
    padding-left:10px;
    overflow-y: scroll;
    border: none;
   
}

.my_review .review{
    border: none;
    margin-bottom: 30px;
    width: 850px;
    height: 150px;
    background-color: #ffffff;
    border: none;
    margin-bottom: 30px;
} 
#id_label{
    background-color: #464545;
    padding: 5px; 
    border-radius: 5px;
    margin-right: 20px;
    text-align: center;
    color:#ffffff;
    font-weight: 600;
    width:150px;
}

#nickname_label{
    background-color: #464545;
    padding: 5px; 
    border-radius: 5px;
    margin-right: 20px;
    text-align: center;
    color:#ffffff;
    font-weight: 600;
    width:150px;
}*/