.userPageBody {
    background-color: #212020;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto; /*배경 설정*/
    overflow-y: scroll;
}
  

hr {
    border: none;
    border-top: 1px solid #4e4d4d; 
    margin-top: 35px;
}

.mainLogo {
    position: absolute;
    top: 40px;
    left: 60px;
}

.searchMovie {
    position: absolute;
    top: 65px;
    right: 120px;
    display: flex;
}

.searchMovie button {
    background-color: transparent;
    border: none;
}

.buttonLogout {
    position: absolute;
    top: 13px;
    right: 120px;
    display: flex;
}

.buttonLogout button {
    border: none;
    background-color: transparent;
    font-size: 13px;
    color: #b1adad; 
    font-weight: bold;
}

.userPageBottom{
    position: absolute;
    top:15%;
    left: 50%;
    transform: translatex(-50%);
}

.userPageBottom table {
    margin:0 auto;
    border-collapse: collapse;
    width: 300px;
    height: 300px;
    justify-content: center;
    margin-top: 55px;
}

.imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    position:relative;
    z-index: 1;
}

.userPageBottom h2{
    color: #ffffff;
}

.label p{
    display: inline-block;
    width: 150px;
    background-color: #464545;
    padding: 5px; 
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color:#b1adad;
    font-weight: 600;
}

.value p{
    display: inline-block;
    width: 150px;
    padding: 5px; 
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}

.subscribeButtonContainer button{
    height: 29px;
    width: 80px;
    background-color: #222fdeb4; 
    border: none;
    border-radius: 5px;
    color: #ffffff;
    left:45%;
    margin-bottom: 20px;
}

.userPageBody h2{
    color: #ffffff;
}

.userReview{
    width: 875px;
    padding-top: 10px;
    padding-bottom: 50px;
    color: #ffffff;
    background-color:  #212020;
}

.reviewSpace{
    width: 860px;
    height: 500px;
    padding-left:10px;
    overflow-y: scroll;
    border: none;
    
}

.review p{
    resize: vertical;
    padding: 10px;
}

.review{
    
    margin-bottom: 100px;
    width: 850px;
    border-radius: 5px;
    background-color: #4e4d4d;
    border: none;
    margin-bottom: 30px;
    
}

.reviewSpace::-webkit-scrollbar {
    width: 8px; 
}

.reviewSpace::-webkit-scrollbar-thumb {
    background-color: #b1adad; 
    border-radius: 5px;
}

.reviewSpace::-webkit-scrollbar-track {
    background-color: #212020;
}


.userPageBody::-webkit-scrollbar {
	width: 10px;  /*스크롤바 너비 */
    height: 10px;
}
/* 스크롤바 막대 꾸미기 */
.userPageBody::-webkit-scrollbar-thumb {
	height: 30%; /*스크롤바 길이 */
  background: #b1adad; /*스크롤바 색상*/
  border-radius: 10px;
}

/* 스크롤바 트랙 꾸미기 */
.userPageBody::-webkit-scrollbar-track {
	background: #212020;
}

.userPageBody::-webkit-scrollbar-corner {
	background: #212020;
}
.notice {
    color: #464545;
    text-align: center;
    font-size: 25px;
   }